<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = '/home/plat/Desktop/tasks/kaggle/mlcourse.ai/jupyter_english/assignments_fall2018/data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [4]:
male_data_1996 = data[(data['Sex'] == 'M') & (data['Year'] == 1996)]

In [5]:
male_data_1996['Age'].min()

14.0

In [6]:
female_data_1996 = data[(data['Sex'] == 'F') & (data['Year'] == 1996)]

In [7]:
female_data_1996['Age'].min()

12.0

#### Answer on the first question is (14 and 12)

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [8]:
data_2000 = data[data['Year'] == 2000].reset_index(drop=True)
len(data_2000)

13821

In [9]:
data_2000['Sport'].unique()

array(['Badminton', 'Sailing', 'Athletics', 'Wrestling', 'Rowing',
       'Swimming', 'Taekwondo', 'Diving', 'Football', 'Tennis', 'Cycling',
       'Hockey', 'Weightlifting', 'Basketball', 'Volleyball', 'Shooting',
       'Synchronized Swimming', 'Boxing', 'Gymnastics', 'Table Tennis',
       'Baseball', 'Handball', 'Fencing', 'Canoeing', 'Water Polo',
       'Beach Volleyball', 'Softball', 'Rhythmic Gymnastics', 'Archery',
       'Equestrianism', 'Modern Pentathlon', 'Judo', 'Triathlon',
       'Trampolining'], dtype=object)

In [10]:
data_2000 = data_2000.drop_duplicates(subset=['ID']).reset_index(drop=True)
print(len(data_2000))

10647

In [11]:
data_2000 = data_2000[(data_2000['Sex'] == 'M')].reset_index(drop=True)

In [12]:
length_all_male = len(data_2000)
print(length_all_male) # All of sportsmans

6579

In [13]:
data_2000 = data_2000[data_2000['Sport'] == 'Gymnastics']
length_gymnastycs = len(data_2000)
print(length_gymnastycs)

97

In [14]:
result = (length_gymnastycs / length_all_male) * 100

In [15]:
print(round(result, 1))

1.5

#### Answer on the first question is (1.5)

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [16]:
data_third_2000 = data[data['Year'] == 2000].reset_index(drop=True)
len(data_third_2000)

13821

In [17]:
data_third_2000 = data_third_2000[(data_third_2000['Sport'] == 'Basketball') & (data_third_2000['Sex'] == 'F')].reset_index(drop=True)
print(len(data_third_2000))

142

In [18]:
mean_2000 = data_third_2000['Height'].mean()
print(round(mean_2000, 1))

182.4

In [19]:
standart_deviation = data_third_2000['Height'].std()
print(round(standart_deviation, 1))

9.1

#### Answer on the third question is (182.4 and 9.1)

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [20]:
data_2002 = data[data['Year'] == 2002].reset_index(drop=True)
len(data_2002)

4109

In [21]:
data_2002 = data_2002[['Name', 'Weight', 'Sport']]

In [22]:
data_2002['Weight'].max()

123.0

In [23]:
data_2002[data_2002['Weight'] == data_2002['Weight'].max()]

                   Name  Weight      Sport
1451  Emmanuel Hostache   123.0  Bobsleigh

#### Answer on the fourth question is (Bobsleigh)

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [24]:
pa_data = data

In [25]:
pa_data_id = pa_data[pa_data['ID'] == 562]
pa_data_id

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

In [26]:
pa_data = pa_data[pa_data['Name'] == 'Pawe Abratkiewicz']
pa_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

In [27]:
pa_data = pa_data.drop_duplicates(subset=['Year']).reset_index(drop=True)
print(len(pa_data))

3

#### Answer on the fifth question is (3)

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [28]:
data_2000 = data[data['Year'] == 2000].reset_index(drop=True)
len(data_2000)

13821

In [29]:
data_six_que = data_2000

In [30]:
data_six_que = data_six_que[(data_six_que['Team'] == 'Australia') & (data_six_que['Sport'] == 'Tennis')]

In [31]:
data_six_que.reset_index(drop=True)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,29135,Jelena Dokic,F,17.0,175.0,57.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
1,29135,Jelena Dokic,F,17.0,175.0,57.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
2,48346,Lleyton Glynn Hewitt,M,19.0,180.0,68.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Singles,NaN
3,51842,Andrew Ilie,M,24.0,182.0,73.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Singles,NaN
4,81119,Alicia Molik,F,19.0,182.0,78.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
5,94442,Mark Anthony Philippoussis,M,23.0,193.0,91.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Singles,NaN
6,96781,Nicole Pratt,F,27.0,163.0,54.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Singles,NaN
7,98289,"Patrick Michael ""Pat"" Rafter",M,27.0,185.0,85.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Singles,NaN
8,115937,Rennae Stubbs,F,29.0,178.0,65.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Women's Doubles,NaN
9,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
10,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

In [32]:
data_six_que = data_six_que[data_six_que['Medal'] == 'Silver']
print(len(data_six_que))

2

#### Answer on the sixth question is (2)

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [33]:
data_2016 = data[data['Year'] == 2016].reset_index(drop=True)
len(data_2016)

13688

In [34]:
data_2016_Switzerland = data_2016[data_2016['Team'] == 'Switzerland'].reset_index(drop=True)
print(len(data_2016_Switzerland))

148

In [35]:
data_2016_Serbia = data_2016[data_2016['Team'] == 'Serbia'].reset_index(drop=True)
print(len(data_2016_Serbia))

127

In [36]:
# Dropna by Medal
data_2016_Switzerland = data_2016_Switzerland.dropna(subset=['Medal']).reset_index(drop=True)

In [37]:
# Dropna by Medal
data_2016_Serbia = data_2016_Serbia.dropna(subset=['Medal']).reset_index(drop=True)

In [38]:
len(data_2016_Switzerland['Medal'])

11

In [39]:
len(data_2016_Serbia['Medal'])

54

In [40]:
len(data_2016_Switzerland['Medal']) < len(data_2016_Serbia['Medal'])

True

#### Answer on the seventh question is (Yes)

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [41]:
data_2014 = data[data['Year'] == 2014].reset_index(drop=True)
len(data_2014)

4891

In [42]:
sortedd = data_2014['Age'].value_counts()

[15 - 25) categoty is (10 + 24 + 58 + 130 + 142 + 206 + 280 + 361 + 396 + 420)

In [43]:
a_15_25 = 10 + 24 + 58 + 130 + 142 + 206 + 280 + 361 + 396 + 420
print(a_15_25)

2027

[25 - 35) category is (395 + 384 + 363 +376 + 282 + 242 + 201 + 142 + 135 + 74)

In [44]:
a_25_35 = (395 + 384 + 363 + 376 + 282 + 242 + 201 + 142 + 135 + 74)
print(a_25_35)

2594

[35 - 45) category is (82 + 70 + 30 + 25 + 14 + 18 + 14 + 6 + 3 + 3)

In [45]:
a_35_45 = 82 + 70 + 30 + 25 + 14 + 18 + 14 + 6 + 3 + 3
print(a_35_45)

265

#### Answer on the eighth question is ( [45-55] and [25-35) correspondingly )

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [46]:
data_nain = data

In [47]:
data_nain[data_nain['City'] == 'Lake Placid'].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
30,11,Jorma Ilmari Aalto,M,22.0,182.0,76.5,Finland,FIN,1980 Winter,1980,Winter,Lake Placid,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
675,393,Gnther Abel,M,23.0,183.0,80.0,West Germany,FRG,1980 Winter,1980,Winter,Lake Placid,Nordic Combined,Nordic Combined Men's Individual,NaN
714,407,Ral Daniel Abella,M,26.0,NaN,NaN,Argentina,ARG,1980 Winter,1980,Winter,Lake Placid,Biathlon,Biathlon Men's 10 kilometres Sprint,NaN
715,407,Ral Daniel Abella,M,26.0,NaN,NaN,Argentina,ARG,1980 Winter,1980,Winter,Lake Placid,Biathlon,Biathlon Men's 20 kilometres,NaN
716,407,Ral Daniel Abella,M,26.0,NaN,NaN,Argentina,ARG,1980 Winter,1980,Winter,Lake Placid,Biathlon,Biathlon Men's 4 x 7.5 kilometres Relay,NaN

#### The answer on the first part of the ninth question is (False)

In [48]:
data_nain[data_nain['City'] == 'Sankt Moritz'].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
935,529,Karl Gustaf Emanuel Abrahamsson,M,31.0,NaN,NaN,Sweden,SWE,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver
1187,665,Gilbert Achard-Picard,M,29.0,NaN,NaN,France-2,FRA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN
1439,802,Tadeusz Ralf Adamowski,M,26.0,177.0,70.0,Poland,POL,1928 Winter,1928,Winter,Sankt Moritz,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
1454,810,Bridget Shirley Adams (-Bengough),F,19.0,NaN,NaN,Great Britain,GBR,1948 Winter,1948,Winter,Sankt Moritz,Figure Skating,Figure Skating Women's Singles,NaN
2707,1508,Enrico Airoldi,M,24.0,NaN,NaN,Italy-2,ITA,1948 Winter,1948,Winter,Sankt Moritz,Bobsleigh,Bobsleigh Men's Four,NaN

#### The answer on the second part of the ninth question is (True)

#### Answer on the ninth question is (No, Yes)

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [49]:
data_ten = data

In [50]:
data_ten_95 = data_ten[data_ten['Year'] == 1995].reset_index(drop=True)

In [51]:
data_ten_95

Empty DataFrame
Columns: [ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal]
Index: []

In [52]:
data_ten['Year'].unique()

array([1992, 2012, 1920, 1900, 1988, 1994, 1932, 2002, 1952, 1980, 2000,
       1996, 1912, 1924, 2014, 1948, 1998, 2006, 2008, 2016, 2004, 1960,
       1964, 1984, 1968, 1972, 1936, 1956, 1928, 1976, 2010, 1906, 1904,
       1908, 1896])

In [53]:
print("length 1995 df is", len(data_ten_95))

length 1995 df is 0

In [54]:
print("Count of sports:", len(data_ten_95['Sport'].unique()))

Count of sports: 0

In [55]:
data_ten_16 = data_ten[data_ten['Year'] == 2016].reset_index(drop=True)

In [56]:
print("length 2016 df is", len(data_ten_16))

length 2016 df is 13688

In [57]:
data_ten_16.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,22,Andreea Aanei,F,22.0,170.0,125.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Women's Super-Heavyweight,NaN
1,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Individual All-Around,NaN
2,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Floor Exercise,NaN
3,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Parallel Bars,NaN
4,51,Nstor Abad Sanjun,M,23.0,167.0,64.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Men's Horizontal Bar,NaN

In [58]:
print("Count of sports:", len(data_ten_16['Sport'].unique()))

Count of sports: 34

#### Answer on the tenth question is ( 34 )